/* 
Base Rules
	A Base rule is applied to an element using an element selector, a descendent selector, or a child selector, along with any pseudoclasses. It doesn’t include any class or ID selectors. It is defining the default styling for how that element should look in all occurrences on the page.
*/

html {
    background-color: $background-color;
    //animation: colorchange-background 5s linear 1s infinite alternate;
}

body {
    color: $color;
    box-sizing: border-box;
    @include body-font-regular;
    @include fontSize(20px);
    padding: 0 8px;
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
}

blockquote {
  background: $color;
  border-left: 10px solid #4E648F;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: $background-color;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
    color: $background-color;
  display: inline;
}

blockquote cite {
    color: $background-color;
    display: block;
    @include body-font-bold;
    text-align: right;
}


h1, h2, {
    @include headline-font;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: $color;
    text-outline: 1px;
    transition: background-color 300ms linear;
    transition: color 300ms linear;
}

a:hover {
    color: lighten($color, 40%);
    transition: background-color 300ms linear;
    transition: color 300ms linear;
}







